__pycache__/
acoustic/localmodels/pyannote-speakerdia-3.1/
acoustic/localmodels/LVL/
acoustic/ldc-bpcsad/
acoustic/acodenv/
acoustic/tmp/
acoustic/output/
acoustic/scripts/local/
acoustic/localmodels/REAPER/
