__pycache__/
acoustic/localmodels/pyannote-speakerdia-3.1/
acoustic/localmodels/LVL/
acoustic/ldc-bpcsad/
acoustic/acodenv/
acoustic/tmp/
acoustic/acoustic-output/Controls/
acoustic/acoustic-output/Patients/
acoustic/acoustic-output/Results/*.tsv
acoustic/scripts/local/
acoustic/localmodels/REAPER/
